<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
    <link href="display.css" rel="stylesheet">
</head>
<body>
    <form class= container method="POST" action="add/added">
        <p>Name<input class="border" type="text" name="name"></p>
        <p>Age <input class="border" type="text" name="age"></p>
        <input type="submit" class="add" value="ADD">
        <a class="add" href="add" id="button">RESET</a>
    </form>

</body>
</html>